<div class="container">
    <div class="container-fluid">
        <div class="row">
            <font01 [color]="'#0b0b0b'" [class]="'mb-3 mt-3'">Font01 Content</font01>
            <font02 [color]="'#dc3445'" [class]="'mt-3'">Font02 Content</font02>
            <font03 [color]="'#2585fe'" [class]="'mt-3'">Font03 Content</font03>
            <font04 [color]="'orange'" [class]="'mt-3'">Font04 Content</font04>
            <font05 [color]="'#484848'" [class]="'mt-3'">Font05 Content</font05>
            <font06 [color]="'#a9a9a9'" [class]="'mt-3'">Font06 Content</font06>
            <font07 [color]="'#2585fe'" [class]="'mt-3'">Font07 Content</font07>
            <font08 [color]="'#09494b'" [class]="'mt-3'">Font08 Content</font08>
            <font09 [color]="'#02234d'" [class]="'mt-3'">Font09 Content</font09>
            <font10 [color]="'#60100b'" [class]="'mt-3'">Font10 Content</font10>
            <font11 [color]="'#7e5f17'" [class]="'mt-3'">Font11 Content</font11>
            <font12 [color]="'#00aeb3'" [class]="'mt-3'">Font12 Content</font12>
        </div>
    </div>
</div>

<div class="row" style="background-color: lightgrey;">
    <div class="grid-col-6">grid-col-6</div>
    <div class="grid-col-6">grid-col-6</div>
</div>

<div class="row" style="background-color: lightgrey;">
    <div class="grid-col-sm-6">grid-col-sm-6</div>
    <div class="grid-col-sm-6">grid-col-sm-6</div>
</div>

<div class="row" style="background-color: lightgrey;">
    <div class="grid-col-md-6">grid-col-md-6</div>
    <div class="grid-col-md-6">grid-col-md-6</div>
</div>

<div class="row" style="background-color: lightgrey;">
    <div class="grid-col-lg-6">grid-col-lg-6</div>
    <div class="grid-col-lg-6">grid-col-lg-6</div>
</div>

<div class="row" style="background-color: lightgrey;">
    <div class="grid-col-xl-6">grid-col-xl-6</div>
    <div class="grid-col-xl-6">grid-col-xl-6</div>
</div>